[submodule "nvim"]
	path = nvim
	url = https://github.com/nybbles/config-nvim
	branch = main
[submodule "oh-my-tmux"]
	path = oh-my-tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "alacritty/alacritty-auto-theme"]
	path = alacritty/alacritty-auto-theme
	url = https://github.com/shombando/alacritty-auto-theme.git
