1Password/**
BraveSoftware/**
LM Studio/**
Msty/**
Signal/**
chromium/**
google-chrome*/**
microsoft-edge-dev/**
Code/**
dconf/**
gh/hosts.yml
obsidian/**
pacman/**
pipewire/**
pulse/cookie
pulse/*.tdb
Slack/**
spotify/**
Unknown Organization/**
via-nativia/**
wallpaper/**
pavucontrol.ini
QtProject.conf
zoom.conf
zoomus.conf
pulse/*-default-sink
pulse/*-default-source
FortiClient/**
gtk-3.0/**
tmux/plugins/**
zsh/.zcompdump**
yelp/
wireshark/
cef_user_data/
google-chrome/
evolution/
eog/
lazygit/
pgcli/

VirtualBox/
enchant/
gh-dash/
github-copilot/
gnome-control-center/
goa-*
ibus/
nautilus/
obs-studio/
openttd/
gedit/

monitors.xml
monitors.xml~

gnome-initial-setup-done

*.log

lnav

syncthing

mimeapps.list

.gsd-keyboard.settings-ported

nautilus/search-metadata

uv/
chromium/
GIMP/
